/* default styles */
:root {
    --background-color: lightslategray;
    --font-color: white;
}

* {
    background-color: var(--background-color, lightslategray);
    margin: 0;
}

body {
    display: flex
}

.leftPanel {
    width: 35vw;
    height: calc(100vh - 4px);
    border: 2px solid pink;
}

.rightPanel {
    width: 65vw;
    border: 2px solid turquoise;
    color: var(--font-color, white);
    padding: 40px
}

.userInfo {
    border: none;
}

button {
    padding: 10px 20px;
    color: white;
    border: 2px solid pink;
    border-radius: 5px;
}