/* default styles */
:root {
    --background-color: lightslategray;
    --font-color: white;
    --left-panel-width: 40vw;
    --right-panel-width: 60vw;
    --border-color: rgb(143, 188, 143);
    --logowidth: calc(var(--left-panel-width) * .7)
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--background-color, lightslategray);
    margin: 0;
}

body {
    display: flex
}

.leftPanel {
    width: var(--left-panel-width);
    height: 100vh;
    background-image: url(lombard.jpg);
    background-position: center;
    background-size: cover;
    border-right: 6px solid white;
    position: relative;
}

.darken {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: hsl(100, 50%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoContainer,
.photoCred {
    margin-top: auto;
    padding: 10px;
    background: hsl(25, 50%, 100%, 0.3);
    border: 6px solid white;
    border-radius: 12px;
    /* logo scales with window size */
    width: min(var(--logowidth), calc(70vh/1.3));
}

.logo {
    width: inherit;
}

a,
.logo {
    background: none;
}

.photoCred {
    font-family: 'Indie Flower', cursive;
    margin-top: auto;
    margin-bottom: 10px;
    background: hsl(25, 50%, 100%, 0.7);
    border: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.photoCred a {
    font-family: 'Indie Flower', cursive;
    color: black;
}

.rightPanel {
    width: var(--right-panel-width);
    color: var(--font-color, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInfo {
    width: calc(var(--right-panel-width) * 0.8);
    margin: 20px 40px;
    font-size: 1.4rem;
    /* border: 1px solid red; */
}

.Info {
    max-width: 500px;
}

form {
    width: 100%;
    /* border: 1px solid red; */
}

.userInfo {
    width: calc(100% - 80px);
    background-color: lightcyan;
    box-shadow: 5px 1px 6px black;
    padding: 20px 40px;
    /* border: 1px solid blue; */
}

label,
.form1,
legend,
.formRow,
.formItem,
.formLabel,
#required,
#pwdVerification {
    background-color: inherit;
}

#required,
#pwdVerification {
    color: darkred;
}

.form1 {
    border: none;
    width: calc(var(--right-panel-width) * 0.8);
    color: black;
    padding: 0;
}

legend {
    font-weight: bold;
}

.formRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 0.5rem;
    /* border: 1px solid green; */

}

.formItem {
    margin-top: 0.5rem;
    /* border: 1px solid blue; */
}

.formLabel {
    display: block;
}


label {
    /* color: black; */
    font-size: 0.9rem;
}

input {
    background-color: whitesmoke;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 1.2rem;
    margin-top: 4px;
}

input[type='password']:invalid {
    border: 1px solid darkred;
}

.submitForm {
    width: calc(var(--right-panel-width) * 0.8);
    margin: 10px 40px;
    /* border: 1px solid red; */
}

button {
    padding: 10px 20px;
    background-color: lightcyan;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 1px 1px 6px black;

}

button:hover {
    cursor: pointer;
}

button:active {
    border: 2px solid black;
}


/* mobile support */
@media only screen and (max-width: 700px) {
    .bodyContent {
        flex-direction: column;
    }

    .leftPanel {
        width: 100%;
        height: 30vh;
        border-right: none;
        border-bottom: 6px solid white;
    }

    .logoContainer {
        width: calc(20vh/1.3);
    }

    .photoCred {
        width: auto;
        font-size: 0.8rem;
        padding: 5px;
        margin-bottom: 5px;
    }

    .rightPanel {
        width: 100%;
    }

    .formInfo,
    .form1,
    .submitForm {
        width: 80vw;
    }
}