/* default styles */
:root {
    --background-color: lightslategray;
    --font-color: white;
    --left-panel-width: 40vw;
    --right-panel-width: 60vw;
    --border-color: rgb(143, 188, 143);
}

* {
    background-color: var(--background-color, lightslategray);
    margin: 0;
}

body {
    display: flex
}

.leftPanel {
    width: var(--left-panel-width);
    height: 100vh;
    background-image: url(lombard.jpg);
    background-position: center;
    background-size: cover;
    border-right: 6px solid white;
    position: relative;
}

.darken {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: hsl(100, 50%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoContainer {
    margin-top: auto;
    padding: 10px;
    background: hsl(25, 50%, 100%, 0.3);
    border: 6px solid white;
    width: calc(var(--left-panel-width) * .7);
}

.logo {
    width: inherit;
}

a,
.logo,
.photoCred {
    background: none;
}

.photoCred {
    margin-top: auto;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

.rightPanel {
    width: var(--right-panel-width);
    color: var(--font-color, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInfo {
    width: calc(var(--right-panel-width) * 0.8);
    margin: 20px 40px;
    font-size: 1.5rem;
}

.userInfo {
    border: none;
    width: 100%;
    padding: 0;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    box-shadow: 5px 1px 6px black;
}

form,
label,
.formRow,
.formLabel {
    background-color: inherit;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    margin: 20px 40px;
    width: calc(var(--right-panel-width) * 0.8);
}

.formRow {
    margin-top: 0.5rem;
}

.formLabel {
    display: block;
}


label {
    color: black;
}

input {
    background-color: whitesmoke;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 1.1rem;
    margin-top: 4px;
}

.submitForm {
    width: calc(var(--right-panel-width) * 0.8);
    margin: 10px 40px;
}

button {
    padding: 10px 20px;
    color: white;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}